USE [master]
GO
/****** Object:  Database [MyRetail]    Script Date: 7/17/2017 3:29:20 PM ******/
CREATE DATABASE [MyRetail]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyRetail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\MyRetail.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyRetail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\MyRetail_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyRetail].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyRetail]
GO
USE [MyRetail]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/17/2017 3:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [tinyint] NOT NULL,
	[Name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/17/2017 3:29:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [bigint] NOT NULL,
	[Sku] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CategoryTypeId] [tinyint] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Price] [decimal](19, 4) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Baby')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Toys')
INSERT [dbo].[Product] ([Id], [Sku], [Name], [CategoryTypeId], [LastUpdated], [Price]) VALUES (5555, N'AEX143', N'Stroller', 1, CAST(N'2014-05-23T00:00:00.000' AS DateTime), CAST(199.9900 AS Decimal(19, 4)))
INSERT [dbo].[Product] ([Id], [Sku], [Name], [CategoryTypeId], [LastUpdated], [Price]) VALUES (5543, N'IOL123', N'Optimus Prime', 2, CAST(N'2014-02-01T00:00:00.000' AS DateTime), CAST(13.3700 AS Decimal(19, 4)))
INSERT [dbo].[Product] ([Id], [Sku], [Name], [CategoryTypeId], [LastUpdated], [Price]) VALUES (7563, N'XYZ904', N'Sega Genesis', 2, CAST(N'1989-04-01T00:00:00.000' AS DateTime), CAST(149.9900 AS Decimal(19, 4)))
USE [master]
GO
